{% extends 'base.html' %}


{% block user_defined %}
	<div class="row">
		<!--div class="col-10 offset-2"-->
		<div style="text-align:center;margin:14px">
		<img src='static/images/main.jpg' />
		</div>
	</div>
	<div class="demo-type-example">
	<p>
	Microfluidics deals with the behaviour, precise control and manipulation of fluids that are geometrically constrained to a small, typically sub-millimeter, scale. It is a multidisciplinary  field at the intersection of engineering, physics, chemistry, biochemistry, nanotechnology, 
	and biotechnology, with practical applications in the design of systems in which low volumes of fluids are processed to achieve multiplexing, automation, and high-throughput screening. 
	Microfluidics emerged in the beginning of the 1980s and is used in the development of inkjet printheads, DNA chips, lab-on-a-chip technology, micro-propulsion, and micro-thermal technologies.
	</p>     
	</div>
{% endblock %}
